dist: trusty                                                                    
sudo: required
language: cpp

env:
  global:
    - secure: "oooAneip/8KPWbDKj2NrUfj3FQiS13NtmTn56eW6Xsp0iiLu2gbht0nw/vywvZoXx2W5KGm91CjA+u9o1/1X8YcNRie0Dk4vEi1PIRqcPoxPwUdM9CUTFI0hHSrg6XiWvNQ8hasc0qVC0Bm5ee+NgY98761InRRvKDD/iISzDSJnFfYvy9JQ4kgLegrTfTLnnboHSYK14ZEdIalvtecR6wNhGtk81IRBlrM4xMXtql27J6gRuUEvQiusFfyhWNcfxWvhSjI6FCSy8TYKrfeCLpAZXkM19ttrFmTIoNPb+c/NLj/sVo3hHHOSay3UVL7Ut9k/jM0Vkom2WGfD68LJY74cawbEZ7Mbk49umLLy6z0nYYMC+A/tnc22+DfUtl+Xp+Jf7DPH+hMLLHn6veCTx8NoKlKfj1vtb2IBOjq3EtQ+ow1qI6r93u6W/RHxIq18QyD7YgoMWXhwaynDK/yCTndd2xW9Yu9KltAgwHRRLoPrydudJTu5FpmIXPI3j82yXxNtQlgyTHw9h7RL/8nb938pKHSxgB3mH5xpxlRdRGX7dwd/9g76JeWWfHHOs5uc3ryhA/Dp0lDbZP9vTN8TRmdzPhQ35eu7cQv9XU55eIm7ZmNcmPeWqYxsKwlK3ygDLCUbiyZfBOO0ovWUQ/dhXWJZECSIFZ/IWQ4ejmcCX0o="
    - AWS_ACCESS_KEY_ID=AKIAIQMKGHXAJ5YFB2HQ
    - AWS_DEFAULT_REGION=eu-west-1
    - DEBFULLNAME="James Shaw"
    - DEBEMAIL=js102@zepler.net
    - SINGULARITY_VERSION=2.4

install:
  - cd /tmp
  - wget https://github.com/singularityware/singularity/releases/download/$SINGULARITY_VERSION/singularity-$SINGULARITY_VERSION.tar.gz
  - tar -xf singularity-$SINGULARITY_VERSION.tar.gz
  - cd singularity-$SINGULARITY_VERSION
  - sudo apt-get install squashfs-tools -y
  - ./configure --prefix=/usr/local
  - make
  - sudo make install
  - sudo apt-get install ruby-dev -y
  - sudo gem install deb-s3 -v 0.8.0
  - cd $TRAVIS_BUILD_DIR

script: ./singularity.dist.sh 17.04 zesty

